<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zi's Ukagaka Space</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
	<link rel="alternate" type="application/rss+xml" title="Zi's Ukagaka Space RSS Feed" href="https://ukagaka.zichqec.com/rss.xml">
	
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Zi's Ukagaka Space"/>
    <meta property="og:description" content="Zi's hub for ukagaka"/>
    <meta property="og:url" content="https://zichqec.github.io/ukagaka/"/>
    <meta property="og:image" content="https://ukagaka.zichqec.com/banner.png"/>
</head>

<body>
<nav><div id="navbar" class="navbar"></div></nav>

<article>
<h1>Template Index</h1>

<p>If you haven't noticed, I make a <i>ton</i> of ukagaka content. Browse the tabs at the top if you haven't, and you'll see many ghosts, balloons, guides, and more. I've tried making every type of Thing related to ukagaka that I can, and I've poured thousands of hours into development and research to understand how all this stuff works.</p>

<p>As a part of that, I've ended up making my own templates to make things easier on me! You may find them useful also if you're interested in ukagaka development, even if you just download them to look through them. Please note that I have learned a lot over the years, and my philisophy towards ghost making changed around 2022! So anything from before then is probably (definitely) outdated.</p>

<p>Quick index:
<br>
<div id="quick_index"></div>
</p>

<div class="collapsible">
Sort and filter <span id="filtercount">(X of X shown)</span>
</div>
<div id="filtersortbuttons"></div>

</article>

<div id="full_index"></div>

<footer><div id="footer" class="footer"></div></footer>
<script src="../scripts/misc.js"></script>
<script src="../scripts/navbar.js"></script>
<script src="../scripts/footer.js"></script>
<script>var item_tags = null; var item_details = null</script>
<script src="../scripts/template_details.js"></script>
<script src="../scripts/index_maker.js"></script>
<script src="../scripts/link_fix.js"></script>

</body>
</html>